<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>YesNoButton_0000_Frame-83.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1051, 163}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0001_Frame-82.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1751, 82}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0002_Frame-81.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1576, 82}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0003_Frame-80.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1401, 82}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0004_Frame-79.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1226, 82}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0005_Frame-78.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1051, 82}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0006_Frame-77.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{876, 892}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0007_Frame-76.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{876, 811}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0008_Frame-75.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{876, 730}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0009_Frame-74.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{876, 649}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0010_Frame-73.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{876, 568}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0011_Frame-72.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{876, 487}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0012_Frame-71.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{876, 406}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0013_Frame-70.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{876, 325}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0014_Frame-69.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{876, 244}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0015_Frame-68.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{876, 163}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0016_Frame-67.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{876, 82}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0017_Frame-66.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1751, 1}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0018_Frame-65.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1576, 1}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0019_Frame-64.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1401, 1}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0020_Frame-63.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1226, 1}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0021_Frame-62.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1051, 1}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0022_Frame-61.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{876, 1}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0023_Frame-60.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{701, 892}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0024_Frame-59.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{701, 811}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0025_Frame-58.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{701, 730}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0026_Frame-57.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{701, 649}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0027_Frame-56.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{701, 568}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0028_Frame-55.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{701, 487}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0029_Frame-54.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{701, 406}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0030_Frame-53.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{701, 325}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0031_Frame-52.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{701, 244}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0032_Frame-51.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{701, 163}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0033_Frame-50.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{701, 82}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0034_Frame-49.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{701, 1}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0035_Frame-48.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{526, 892}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0036_Frame-47.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{526, 811}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0037_Frame-46.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{526, 730}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0038_Frame-45.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{526, 649}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0039_Frame-44.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{526, 568}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0040_Frame-43.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{526, 487}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0041_Frame-42.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{526, 406}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0042_Frame-41.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{526, 325}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0043_Frame-40.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{526, 244}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0044_Frame-39.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{526, 163}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0045_Frame-38.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{526, 82}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0046_Frame-37.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{526, 1}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0047_Frame-36.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{351, 892}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0048_Frame-35.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{351, 811}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0049_Frame-34.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{351, 730}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0050_Frame-33.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{351, 649}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0051_Frame-32.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{351, 568}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0052_Frame-31.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{351, 487}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0053_Frame-30.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{351, 406}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0054_Frame-29.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{351, 325}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0055_Frame-28.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{351, 244}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0056_Frame-27.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{351, 163}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0057_Frame-26.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{351, 82}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0058_Frame-25.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{351, 1}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0059_Frame-24.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{176, 892}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0060_Frame-23.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{176, 811}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0061_Frame-22.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{176, 730}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0062_Frame-21.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{176, 649}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0063_Frame-20.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{176, 568}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0064_Frame-19.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{176, 487}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0065_Frame-18.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{176, 406}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0066_Frame-17.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{176, 325}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0067_Frame-16.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{176, 244}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0068_Frame-15.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{176, 163}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0069_Frame-14.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{176, 82}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0070_Frame-13.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{176, 1}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0071_Frame-12.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 892}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0072_Frame-11.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 811}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0073_Frame-10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 730}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0074_Frame-9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 649}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0075_Frame-8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 568}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0076_Frame-7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 487}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0077_Frame-6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 406}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0078_Frame-5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 325}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0079_Frame-4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 244}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0080_Frame-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 163}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0081_Frame-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 82}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YesNoButton_0082_Frame-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {174, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{174, 80}</string>
			<key>spriteSourceSize</key>
			<string>{174, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {174, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{2048, 1024}</string>
	</dict>
</dict>
</plist>